<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654407967328-7io3mc76a7ghk02jk6dtdc350963003i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654407967328-7io3mc76a7ghk02jk6dtdc350963003i</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEfkEl8-WdTZvyjG8xGVX4CrcKCJE8KY</string>
	<key>GCM_SENDER_ID</key>
	<string>654407967328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wallet.offline.guard.walletOfflineGuard</string>
	<key>PROJECT_ID</key>
	<string>wallet-guard-18fde</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-guard-18fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654407967328:ios:91015d6e6b5d2b076e9905</string>
	<key>DATABASE_URL</key>
	<string>https://wallet-guard-18fde-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>